---
---

@import "{{ site.theme }}";
/*header a.twitterbutton {
    position: relative;
    top: 0;
    right: 0;
    background:transparent url(../../images/twitter.png) 0 0 no-repeat
}*/

header img {
    position: absolute;
    top: 0;
    right: 0;
}

.post-header {
    margin-bottom: 30px;
    background: none;
}

.page-description {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
    font-size: 115%;
}

.post-meta-title, .post-meta {
    margin-top: .25em !important;
    margin-bottom: .25em !important;
    font-size: 105%;
}

.category-tags {
    margin-top: .25rem !important;
    margin-bottom: .25rem !important;
    font-size: 105%;
}

.post-list {
    margin-left: 0;
    list-style: none;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

li .post-meta-description {
    font-size: 15px;
    margin-top: .05rem !important;
    margin-bottom: .05rem !important;
}
